n8n-agents/podcast-generator/workflow.json
{
  "name": "podcast generator",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "{{$json.body.text}}",
        "messages": {
          "messageValues": [
            {
              "message": "=You are a professional podcast script writer.\n\nWrite a conversational and engaging podcast script on the topic: {{$json.body.text}}.\n\nKeep it around 2 minutes when spoken.\n\nUse a friendly and informative tone, as if talking directly to listeners.\n\nAvoid any headings, labels, or formatting. Output plain text only."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -112,
        -128
      ],
      "id": "61809cc8-d483-42a0-b52f-8b42e6a993b6",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        -40,
        96
      ],
      "id": "e370dab8-f704-433c-ac2a-42cdcebbd577",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "DSweP3mIMsUTjkJ6",
          "name": "Google Gemini(PaLM) Api account 10770"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.murf.ai/v1/speech/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api-key",
              "value": "YOUR_MURF_AI_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $json.text }}"
            },
            {
              "name": "voiceId",
              "value": "Natalie"
            },
            {
              "name": "locale",
              "value": "en-US"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        240,
        -128
      ],
      "id": "3e183045-725d-4804-9a83-4e36bd0d1d85",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "url": "={{ $json.audioFile }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        464,
        -128
      ],
      "id": "7c4cc5e0-a6df-42ca-bca1-042cae08babf",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "d4125cfd-cfce-4cd7-969c-bffdc1be9ec9",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -336,
        -128
      ],
      "id": "8a7e1522-2a58-4e7d-a7cc-122a84c68f37",
      "name": "Webhook",
      "webhookId": "d4125cfd-cfce-4cd7-969c-bffdc1be9ec9"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        672,
        -128
      ],
      "id": "bea5efa6-5cde-4ca3-a161-8cbf918c99e6",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "5ffe4175-6e6d-460b-9f5c-50ee96acb189",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "969257b09ad2942bbaff2e2288304f4969030574d109cdeca05bf11f630884df"
  },
  "id": "FssfGaE6HKCkk2kC",
  "tags": []
}